
.search{
    display: flex;
    align-items: center;
    margin: 20px 0;
    max-width: 300px;
}
.search span{
    margin-inline-end: 10px;
}
.table_2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.table_2 span{
    margin-inline-end: 10px;
}
.checkbox{
    visibility: visible !important;
    width: 15px !important;
    height: 15px !important;
    margin-inline-end: 15px;

}
.button ,.button_submit{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.button_submit{
    margin: 20px 0;

}
.button button, .button_submit button{
    width: 100%;
    border: none;
    padding: 6px;
    background:#2A9D8F;
    color: #fff;
    border-radius: 5px;
}
.Pg06Ch{
    margin: 30px 0;
    display : flex;
    align-items : center;
}
.Pg06Ch span {
    margin-inline-end: 10px;
}
.hide{
    display: none !important;
}
.apper{
    display: block !important
}
.Pg06Ch02{
    margin-inline-end: 10px;
}
.react-datepicker-ignore-onclickoutside{
    
}
