 
/* ======================== */
.main{
    display:flex;
}
.sidbar-fixed-sidebar-ar{
    position: fixed;
    height: 100%;
    left: 0;
    direction: ltr;
 }
 .sidbar-fixed-sidebar-en{
    position: fixed;
    height: 100%;
    right: 0;
    direction:rtl;
 }
.main-container-open{
    width:calc(100% - 250px) ;
    transition:  all 0.2s ease-in-out;
}
.main-container-close{
    width:calc(100% - 80px) ;
    transition:  all 0.2s ease-in-out;

}

 