 /* .wrapper {
    display: flex;
} */

.open {
    width: 83%;
}

.close {
    width: 95%;
}
.openSidebar{
    width: 17%;
    z-index: 99;
}
.closeSidebar{
    width: 5%;
    z-index: 99;
}

/* ======================== */
.main{
    display:flex;
}
.sidbar-fixed-sidebar{
    width: 250px;
    position: fixed;
    height: 100%;
    left: 0;
 }
.main-container{
    width:calc(100% - 250px) ;
}

 