
  /* UsersTaple */
  .pagination{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px
  }
  .pagination button {
    width: 100px;
    border: none;
    background: #2a9d8f;
    color: #fff;
    padding: 5px;
  }
  .pagination input {
    width: 150px;
    border: none;
    background: #2a9d8f;
    color: #fff;
    padding: 5px;
  }
  .pagination select {
    width: 100px;
    border: none;
    background: #2a9d8f;
    color: #fff;
    padding: 5px;
  }
  
  .usersTaple{
    max-height: 700px;
    overflow: auto;

  }
  
/* scrollbar */
.usersTaple::-webkit-scrollbar {
  width: 10px;
}

.usersTaple::-webkit-scrollbar-track {
  background: #eeeeeeba;
}

.usersTaple::-webkit-scrollbar-thumb {
  background: #2A9D8F;
  border-radius: 20px;
  border: 1px solid #ddd;
}
