.table{
    margin: 50px;
    height: 500px;
    overflow: hidden;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    overflow:auto;
   }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .row-index{
    width: 4%;
  }
  .row-test-2{
    width: 4%;
  }
  .row-test-3{
    width: 20%;
  }
  .row-test-4{
    width: 30%;
  }
  .row-test-5{
    width: 50%;
  }
  .row-test-6{
    width: 6%;
  }
  .row-test-7{
    width: 6%;
  }
  .row-test-8{
    width: 10%;
  }
  .row-test-9{
    width: 10%;
  }
  .row-test-10{
    width: 15%;
  }
  .row-test-11{
    width: 7%;
  }
  .row-test-12{
    width: 10%;
  }
  .row-test-13{
    width: 10%;
  }
  .row-test-15{
    width: 1%;
  }