/* .table{
    margin: 50px;
    height: 500px;
    overflow: hidden;
} */

.taple_container {
  overflow: auto;
  height: calc(100vh - 180px);

}

/* scrollbar */
.taple_container::-webkit-scrollbar {
  width: 10px;
}

.taple_container::-webkit-scrollbar-track {
  background: #eeeeeeba;
}

.taple_container::-webkit-scrollbar-thumb {
  background: #2A9D8F;
  border-radius: 20px;
  border: 1px solid #ddd;
}

tbody {
  font-size: 11px !important;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 60%; */
  overflow: auto;
}

thead {
  background-color: #2a9d8f;
  overflow-y: auto;
  overflow-x: hidden;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2a9d8f;
  color: white;
  position: sticky;
  top: 0;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

tbody {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  /* height: 250px; */
}

/* taple test */
.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px
}
.hide{
  display: none;
}

.pagination button, .print {
  width: 50px;
  border: none;
  background: #fff;
  color: #2a9d8f;
  padding: 5px;
}

.pagination input {
  width: 100px;
  border: none;
  background: #fff;
  color: #2a9d8f;
  padding: 5px;
  margin-right: 10px;
}

.pagination select {
  width: 100px;
  border: none;
  background: #fff;
  color: #2a9d8f;
  padding: 5px;
}

  .openModal{
  border: none;
  background: transparent;
  font-size: large;
  color: #2a9d8f;
}