 .logo {
   background: #fff;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3px;
 }

 .sidebar {
   position: fixed;
   height: 100%;
   font-size: 14px;
 }

 /* .sidebar-container::-webkit-scrollbar {
   width: 10px;
 }

 .sidebar-container::-webkit-scrollbar-track {
   background: #eeeeeeba;
 }

 .sidebar-container::-webkit-scrollbar-thumb {
   background: #3A445C;
   border-radius: 20px;
   border: 1px solid #ddd;
 } */

 /* .bOQEtf{
   width: auto !important;
   min-width: none !important;

 } */
 /* .ffSMgA {
   color: #DCDCDC !important;
 } */

 /* .lkTtqM:hover {
   background-color: #2a9d8f !important;
   color: #fff !important;

 } */

 /* .lkTtqM:hover {
  background-color: unset !important;
} */
 .active {
   /* color: #2a9d8f; */
   /* font-weight: bold;
   font-size: 16px; */
 }

 /* .gnJkew {
   color: rgb(64, 78, 103) !important;
 } */

 a:hover {
   color: unset !important;
   text-decoration: none !important;
 }

 a {
   color: unset !important;
   text-decoration: none !important;
 }

 /* .sidbar-fixed-sidebar-ar::-webkit-scrollbar {
   width: 10px;
 }

 .sidbar-fixed-sidebar-ar::-webkit-scrollbar-track {
   background: #eeeeeeba;
 }

 .sidbar-fixed-sidebar-ar::-webkit-scrollbar-thumb {
   background: #3A445C;
   border-radius: 20px;
   border: 1px solid #ddd;
 } */

 /* .lkTtqM {
   padding-left: 10px !important;
   padding-right: 10px !important;
 } */

 /* test */
 /*     
  .menu-container{
    width: 70px;
    display:inline-block;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 800px;
      perspective: 800px;
    float: left;
  
  }
  .menu{
    height: 60px;
    line-height: 60px;
  }
  .menu .icon{
    padding: 20px 20px;
    font-size: 22px;
    color: #6295c9;
    background: white;
    border-right: 0.5px solid lightgrey;
  }
  .menu .text{
    width: 180px;
    position:absolute; 
    transition: 0.7s;
    transform-origin: 0px 0px;
    transform: rotateY(90deg);
    padding: 0px 20px;
    backface-visibility: hidden;
    background: white;
  }
  .menu-container:hover .text{
    transform: rotateY(0deg);
  }
  .fa{
    width: 20px;
  }
  .menu a{
    text-decoration: none;
    color: #333;
  }
  .menu .text:hover,.menu .text:focus{
    background: #6295c9;
    color: #fff;
  }
  .content{
    margin-left: 70px;
    width:100%;
    text-align:center;
  } */

 /* ================================================================================ */
 
 .title {
   font-size: 3rem;
   display: grid;
   place-items: center;
 }

 /* Sidebar */
 .sidebar {
   background: #222E3C;
   /* fallback for old browsers */

   color: white;
   height: 100vh;
   overflow-y: auto;
 }

 /* scrollbar */
 .sidebar::-webkit-scrollbar {
   width: 10px;
 }

 .sidebar::-webkit-scrollbar-track {
   background: #eeeeeeba;
 }

 .sidebar::-webkit-scrollbar-thumb {
   background: #3A445C;
   border-radius: 20px;
   border: 1px solid #ddd;
 }

 .top_section {
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
 }

 .bars {
   width: 30px;
 }

 .hide {
   display: none;
 }
 .routes {
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   gap: 5px;
 }

 .link {
   display: flex;
   color: white;
   gap: 10px;
   padding: 5px 10px;
   border-inline-end: 4px solid transparent;
   transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 }
 .link:hover {
   border-inline-end: 4px solid white;
   background: #2A9D8F;
   transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 }
 .active {
   border-inline-end: 4px solid white;
   background:#2A9D8F;
   color: #fff;
 }

 .link_text {
   white-space: nowrap;
   font-size: 15px;
 }
 .menu {
   display: flex;
   color: white;
   padding: 5px 10px;
   border-inline-end: 4px solid transparent;
   transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   justify-content: space-between;
 }
 .menu_item {
   display: flex;
   gap: 10px;
 }
 .menu_container {
   display: flex;
   flex-direction: column;
 }
 .menu_container .link {
   padding-inline-start: 20px;
   border-bottom: #fff 0.5px solid;
 }
